.gcloudignore
.git
.gitignore
.next
.firebase
node_modules
.env.local
*.log
src
tsconfig.json
tsconfig.tsbuildinfo
postcss.config.mjs
eslint.config.mjs
next-env.d.ts
next.config.ts
AGENTS.md
CLAUDE.md
PRD_TeamCollab.md
README.md
